html {box-sizing: border-box;
    font-size: 62.5%;}

/* GENERAL */

/* PALETA PRINCIPAL
#F9E4D4 BEIGE
#D67D3E NAR
#9C0F48 ROSA
#470D21 MARRON */

/* PALETA SECUNDARIA
#420516 MARRON OSC
#7D1935 MARRON CLA
#B42B51 ROSA FUERTE
#E63E6D ROSA CLARO */

body {
    background-color: #F9E4D4;
}

div.container-fluid{
    padding: 0px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

.bg-perezoso {
    background-color: #9C0F48;
    color: #470D21;
    padding-left: 15px;
}

.bg-dropdown {
    background-color: #9C0F48;
}

form{
    font-size: 1.3rem;
}

li{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

/* HEADER */

header {
    background-color: #9C0F48;
}

.displayProp {
    display: inline-block;
}

.usuarioDiv {
    display: flex;
    justify-content: end;
}

.usuarixs {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D67D3E;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #470D21;
    margin-right: 20px;
}

.usuarixsBis {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    color: #470D21;
    margin-right: 20px;
}

/* SWAL */

.swalProp {
    background-color: #D67D3E;
    color: #470D21;
    
}

.swal-button {
    background-color: #9C0F48;
}

/* DIARIAS */

.tituloSeparador{
    text-align: center;
padding-top: 50px;
font-family: 'Bebas Neue', cursive;
font-size: 5rem;
text-transform: uppercase;
}

.divSeparador{
    background-color: #9C0F4840 ;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
}

a.list-group-item{
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.divFormularioDiarias{
    background-color: #cf8aa350 ;
    margin-top: 10px;
    margin-bottom: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
}

/* CONSEJOS */

.btnConsejo{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #D67D3E;
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #470D21;
    margin-right: 20px;
}

.divConsejo {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #cf8aa350;
}

/* FOOTER */

footer {
    background-color: #9C0F48;
    margin-top: 20px;
}